html {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: green;
    padding: 0.1rem;
    color: white;
    font-size: 1.3rem;
}

    .site-name {
        margin: 1rem;
        font-weight: bold;
    }

    .navigation {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 1rem;
    }

        .navigation-list {
            display: flex;
            justify-content: space-evenly;
        }

        .navigation-list li {
            margin: 0 1rem;
        }
        
        .navigation-list a {
            color: white;
            text-decoration: none;
        }
        

.mid-section {
    display: flex;
    flex-direction: row;
    background: mistyrose;
    flex-grow: 1;
}

    .main-section{
        display: flex;
        flex-direction: column;
    }

    .main-section-top{
        display: flex;
        flex-grow: 1;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        flex: 4 1 0%;
        background: white;
        font-family: serif;
        padding: 0 1em;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        flex: 1 1 0%;
        max-width: 450px;
        align-content: center;
        align-items: center;
    }

        .sidebar img {
            flex: 1 2 auto;
        }

        .main-section .sidebar img {
            max-width: 350px;
            /*Dit is vast niet de manier om het plaatje rechts kleiner te krijgen, maar anders kom ik er niet uit*/
        }

            
.main-section-bottom {
    display: flex;
    background: darkred;
    justify-content: center;
    align-items: center;
    color: white;
}